@page
@model RegisterModel
@{
    ViewData["Title"]  = "Registro de Usuario";
}

@* <h1 class="text-warning">@ViewData["Title"]</h1> *@


@* DISEÑO DEGRADE DE FONDO *@
<style>
    body{
        background: #ffe259;
        background: linear-gradient(to right, #ffa751, #ffe259);
    }
        .bg{
        background-image: url('https://browsecat.art/sites/default/files/yellow-black-wallpapers-48447-682434-2200006.png');
        background-position: center center;
    }
</style>
<div class="container w-75 bg-dark mt-5 rounded shadow"> 

    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">

        </div>
        <div class="col p-5 rounded-end">
            <div class="text-end">
                @* <img src="~/Imagenes/logo.png" width="48" alt=""> *@
                <i class="bi bi-power"></i>
                <h2 class="fw-bold text-center py-5 text-white">Registro</h2>

@* LOGIN *@
                <form id="register-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="mb-4 text-start text-white">
                    <label asp-for="Input.Email" class="form-label">Correo Electrónico</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-4 text-start text-white">
                    <label asp-for="Input.Password" class="form-label">Contraseña</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-4 text-start text-white">
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar Contraseña</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="d-grid">
                         <button id="registerSubmit" type="submit" class="btn btn-warning">Registrarse</button> 
                    </div>

                    <div class="my-3 text-start text-white">
                        @* <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como un nuevo usuario</a> *@
                        <span>Ya tienes cuenta? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-warning">Inicia Sesion</a></span><br>
                        <span><a id="forgot-password" asp-page="./ForgotPassword" class="text-warning">Recuperar Contraseña</a></span>
                        @* <a id="forgot-password" asp-page="./ForgotPassword">Olvidaste tu contraseña?</a> *@
                    </div>
                </form>

@* LOGIN CON REDES SOCIALES *@
                            <div class="container w-100 my-5 text-white">
                                <div class="row text-center">
                                    
                                    <div class="col-12">Otras formas de Iniciar Sesion</div>
                                    <div class="row">
                                        @* BOTON FACEBOOK *@

                                        <div class="col">
                                            <button id="./Login" class="btn btn-outline-primary w-100 my-1">
                                            <div class="row align-items-center">
                                                <div class="col-2 d-none d-md-block">
                                                    <i class="bi bi-facebook"></i>
                                                </div>
                                                <div class="col-12 col-md-10 text-center">
                                                    Facebook
                                                </div>
                                            </div>
                                            </button>
                                        </div>

                                        @* BOTON GOOGLE *@

                                        <div class="col">
                                            <button class="btn btn-outline-danger w-100 my-1">
                                            <div class="row align-items-center">
                                                <div class="col-2 d-none d-md-block">
                                                    <i class="bi bi-google"></i>
                                                </div>
                                                <div class="col-12 col-md-10 text-center">
                                                    Google
                                                </div>
                                            </div>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>




            </div>
        </div>
    </div>
</div>




 @* <div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-warning">Creá tu Cuenta.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <h7 btn-outline-warning class="text-warning">Email</h7>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <h7 btn-outline-warning class="text-warning">Contraseña</h7>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <h7 btn-outline-warning class="text-warning">Confirmar Contraseña</h7>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2"> 
    </div>
</div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
